<span style="cursor: pointer" onclick="commitLog('{{item.id}}')">
    <a href="{{item.url}}"><img src="{{item.cover}}" class="img-thumbnail"></a>
</span>
<div class="title">
    タイトル :<br>
    <span style="cursor: pointer" onclick="commitLog('{{item.id}}')">
        <a href="/{{db}}/detail/{{item.id}}">{{item.title}}</a><br>
    </span>
</div>
